@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;

    border: 2px solid black;
}

.caixa1{
    text-align: center;
    font-size: 2em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: red;
}

.caixa2{
    text-align: center;
    font-size: 2em;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: blue;
}

.caixa3{
    text-align: center;
    font-size: 2em;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: green;
}

.caixa4{
    text-align: center;
    font-size: 2em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;

    background-color: yellow;
}