@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 200px;
    gap: 5px;
}

.topo{
    background-color: lightgray;
    border: 2px solid black;
    grid-area: 1 / 1 / 2 / 3;
}

.menu{
    background-color: lightgray;
    border: 2px solid black;
    grid-area: 2 / 1 / 3 / 3;
}

.principal{
    background-color: lightgray;
    border: 2px solid black;
    grid-area: 3 / 1 / 4 / 2;
}

.secundario{
    background-color: lightgray;
    border: 2px solid black;
    grid-area: 3 / 2 / 4 / 3;
}

.rodape{
    background-color: lightgray;
    border: 2px solid black;
    grid-area: 4 / 1 / 5 / 3;
}

