@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;

    border: 2px solid black;
}

.caixa1{
    text-align: center;
    font-size: 2em;
    grid-area: 1 / 1 / 2 / 4;

    background-color: red;
}

.caixa2{
    text-align: center;
    font-size: 2em;
    grid-area: 2 / 1 / 4 / 3 ;
    background-color: blue;
}

.caixa3{
    text-align: center;
    font-size: 2em;
    grid-area: 2 / 3 / 4 / 5;

    background-color: green;
}

.caixa4{
    text-align: center;
    font-size: 2em;
    grid-area: 1 / 4 / 2 / 5;

    background-color: yellow;
}